:root {
    --main-color: #606C38;
    --bg-color: #FEFAE0;
    --highlight-color: #DDA15E;
    --darker-highlight-color: #BC6C25;
    --text-color: #283618;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
}

h1 {
    color: var(--text-color);
    text-align: center;
    size: 42px;
}

h6 {
    color: var(--text-color);
    text-align: center;
    size: 16px;
}

th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 6px, outset, var(--highlight-color);
}


.button {
    background-color: var(--highlight-color);
    border: outset;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;

}

.button:hover {
    background-color: var(--darker-highlight-color);
}


#scoreboard {
    position: fixed;
    right: 5%;
}

#score-table {
    font-size: 20px;
    border: 6px, inset, var(--darker-highlight-color);
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}